:root {
    --color1: #312e2e;
    --color2: #C60000;
    --color3: #8F41D9;
    --color4: #D90000;
    --color5: #032840;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--color1);
}

nav {
    display: flex;
    padding: 1em;
    justify-content: center;
    align-items: center;
    background-color: var(--color1);
}

nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

nav li {
    margin-left: 2em;
    margin-right: 2em;

}

nav a {
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    color: var(--color2);
}

nav svg {
    font-size: 3em;
    color: var(--color2);
}

nav button,
.home button {
    background-color: var(--color2);
    color: #fff;
    padding: .5em;
    border-radius: 50px;
    border: none;
}

nav button:hover,
.home button:hover {
    background-color: var(--color4);
    cursor: pointer;
}

nav button>a:hover {
    color: #fff;
}

.home,
.about,
.services,
.clients,
.contact {
    min-height: 600px;
}

.home {
    width: 100%;
    background-image: url('/home.jpg');
    background-size: cover;
    border-bottom-left-radius: 5em;
    color: var(--color2);
    opacity: 0.8;
}

.home div {
    position: absolute;
    padding: 1em;
    bottom: 0;
    margin-bottom: 1em;
}

.home button {
    background-color: var(--color2);
}

.about {
    display: flex;
    margin: 1em;
    padding: 2em;
    justify-content: space-between;
    align-items: center;
}

.about img {
    width: 30em;
    height: 25em;
    margin: 2em;
    border-bottom-right-radius: 5em;
}

.about section {
    width: 30em;
    height: 30em;
    color: #fff;
}

.about section>h1,
.services h1,
.contact h1 {
    text-align: center;
    color: var(--color2);
    text-transform: uppercase;
    font-weight: 900;
}

.about section>p {
    text-align: justify;
}

.services {
    background-image: url('/services.jpg');
    background-size: cover;
    opacity: 0.8;
    padding: 1em;
    border-bottom-left-radius: 5em;
}

.serviceIcons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2em;
}

.serviceIcons button {
    width: 25em;
    height: 15em;
    margin: 1em;
    padding: 1em;
    border: none;
    background-color: #fff;
    border-radius: 5em;
    text-align: center;
    transition: .5 ease-in-out;
}

.serviceIcons button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.serviceIcons svg {
    font-size: 5em;
    color: var(--color2);
}

.contact {
    background-image: url('/contact.jpg');
    background-size: cover;
    opacity: 0.8;
    border-bottom-right-radius: 5em;
    padding: 1em;
}

.contact section {
    display: flex;
    margin: 0 auto;
    width: 60%;
    justify-content: space-around;
    padding: 5em;
}

.contact button {
    background: transparent;
    border: none;
}

.contact svg {
    color: var(--color2);
    font-size: 5em;
}

.contact svg:hover {
    cursor: pointer;
    color: var(--color5);
}


::-webkit-scrollbar {
    background-color: var(--color1);
    width: 12px;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color2);
    border-radius: 8px;
}

::selection {
    background-color: var(--color2);
    color: #fff;
}


@media (width<600px) {
    nav {
        display: none;
    }

    .home,
    .about section,
    .about img {
        width: 100%;

    }

    .home div {
        bottom: 15em;
    }

    .about {
        flex-direction: column;
        padding: 0;
    }

    .services,
    .home,
    .about img {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .serviceIcons {
        display: flex;
        flex-direction: column;
    }

    .serviceIcons button {
        width: 100%;
        margin: 0;
        margin-bottom: 1em;
        padding: 0;
    }
}