:root {
    --color1: #333333;
    --color2: #C60000;
    --color3: #8F41D9;
    --color4: #D90000;
    --color5: #032840;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #333;
}

nav {

    display: flex;
    padding: 1em;
    justify-content: center;
    align-items: center;
    background-color: var(--color1);
}

nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

nav li {
    margin-left: 2em;
    margin-right: 2em;

}

nav a {
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    color: var(--color2);
}

nav img {
    width: 100px;
    height: 50px;
}

nav button,
.home button {
    background-color: var(--color2);
    color: #fff;
    padding: .5em;
    border-radius: 50px;
    border: none;
}

nav button:hover,
.home button:hover {
    background-color: var(--color4);
    cursor: pointer;
}

.home {
    width: 100%;
    min-height: 600px;
    background-image: url('../public/home.jpg');
    background-size: cover;
    border-bottom-left-radius: 5em;
    color: var(--color2);
    opacity: 0.8;
}

.home div {
    position: absolute;
    top: 60%;
    left: 5%;
    padding: 1em;
}

.home button {
    background-color: var(--color2);
}

.about {
    display: flex;
    margin: 1em;
    padding: 2em;
    justify-content: space-between;
    align-items: center;
}

.about img {
    width: 30em;
    height: 30em;
    margin: 2em;
    border-radius: 5em;
}

.about section {
    width: 30em;
    height: 30em;
    color: #fff;
}
.about section>h1{
    text-align: center;
    color: var(--color2);
}
.about section>p{
    text-align: justify;
}

.about,
.services,
.clients,
.contact {
    min-height: 600px;
}